---
import NavLinks from "../header_bar/NavLinks.astro";
const today = new Date().getFullYear().toPrecision();
import { SITE_TITLE } from "../../consts";
---

<p>
    &copy;
    <span>{today}</span>
    <NavLinks href="/recetario_personal_astro/">{SITE_TITLE}</NavLinks>. Todos
    los derechos reservados.
</p>
