---
import { Image } from "astro:assets";

interface Props {
    imagePath: string;
    altText: string;
    name: string;
    loading: string;
}

const { imagePath, altText, name, loading } = Astro.props;
const imagenes = import.meta.glob<{ default: ImageMetadata }>(
    `/src/assets/images/*.{jpeg, jpg, png, gif, webp, svg}`,
);
if (!imagenes[imagePath])
    throw new Error(
        `"${imagePath}" no existe en glob: "/src/assets/images/*.{jpeg, jpg, png, gif, webp, svg}"`,
    );
---

<div class="card">
    <h2>{name}</h2>
    <Image src={imagenes[imagePath]()} alt={altText} loading="lazy" />
</div>
