---
import BaseHeader from "../components/other/BaseHeader.astro";
import Navbar from "../components/header_bar/Navbar.astro";
import Footer from "../components/Footer/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHeader />
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
